.widget_bp_classifieds_widget ul#classifieds-list {
	margin: 15px 0 0 0;
	padding: 0;
	list-style: none;
}
	.widget_bp_classifieds_widget ul#classifieds-list li {
		min-height: 60px;
	}
	
	.widget_bp_classifieds_widget ul#classifieds-list li img.avatar {
		float: left;
		margin: 0 10px 0 0;
	}
	
	.widget_bp_classifieds_widget ul#classifieds-list li span.activity {
		font-size: 11px;
	}
	
.widget_bp_classifieds_widget img#ajax-loader-classifieds {
	float: right;
}